@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,500;0,700;1,100;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500;700&display=swap');

/*
    ** CSS 속성 순서

    * top -> bottom -> left -> rigth

    position
    display
    flex-wrap
    flex-direction
    justify-content
    align-itmes
    gap

    width
    height
    margin
    padding
    box-sizing

    background
    border
    border-radius
    
    font-family
    font-size
    font-style
    font-weight
    color
    text-align
    line-height
    
    etc...
 */

:root {
    font-family: 'Noto Sans KR', sans-serif;
    --font-eng: 'Barlow', sans-serif;

    /* ===== color */
    color: var(--color-black);

    --color-main: #77cbd6;
    --color-back: #fbfbfb;
    --color-black: #333333;
    --color-gray: #757575;
    --color-disabled: #cccccc;
    --color-cover: rgba(51, 51, 51, .5);

    /* ===== font-size */
    /* common */
    --fsize-title: 12px;
    --fsize-desc: 12px;
    --fsize-button: 16px;
    --fsize-button-sub: 12px;
    --fsize-modal: 16px;

    /* user */
    --fsize-placeholder: 16px;
    --fsize-input-title: 10px;

    /* post */
    --fsize-cont-input: 16px;
    --fsize-cont-thumb: 10px;
    --fsize-cont-detail: 16px;
}

button {
    all: unset;
    width: 240px;
    height: 50px;
    background-color: var(--color-main);
    border-radius: 10px;
    font-size: var(--fsize-button);
    font-weight: bold;
    color: white;
    text-align: center;
}

button:disabled {
    color: var(--color-disabled);
}

button:not(:disabled):hover {
    filter: brightness(90%);
}

button,
a {
    cursor: pointer;
}

input {
    all: unset;
    width: 240px;
    height: 1px;
    margin-top: 49px;
    border-bottom: solid 1px var(--color-main);
    color: white;
    text-align: center;
    transition: margin, height .3s, .3s;
}

input:focus,
input:not(:placeholder-shown) {
    height: 50px;
    margin-top: 0;
    background-color: var(--color-main);
    border-radius: 10px;
}

.font-eng {
    font-family: var(--font-eng);
}